
<p-table [value]="konten">
  <ng-template pTemplate="header">
    <tr>
      <th>Kontonummer</th>
      <th>Bezeichnung</th>
      <th>Kontostand</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-konto>
    <tr>
      <td><a [routerLink]="konto.kontonummer">{{ konto.kontonummer }}</a></td>
      <td>{{ konto.name }}</td>
      <td>{{ konto.betrag }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="ui-g">
      <div class="ui-md-4">Sonderkonto der Bank: {{ sonderkonto?.betrag }}</div>
      <div class="ui-md-4"></div>
      <div class="ui-md-4">Summe: {{ sum() }}</div>
    </div>

  </ng-template>
</p-table>
