<p-panel header="Zahlung anweisen">
  <div class="ui-g">
    <div class="ui-md-4">Empfänger:</div>
    <p-dropdown class="ui-md-8" [options]="konten" editable="true" placeholder="Empfänger wählen" [(ngModel)]="ziel"></p-dropdown>

    <div class="ui-md-4">Betrag:</div>
    <div class="ui-inputgroup ui-md-8" >
      <span class="ui-inputgroup-addon">EUR</span>
      <input type="number" pInputText [(ngModel)]="euros" min="0" max="999999999999">
      <span class="ui-inputgroup-addon">.</span>
      <input type="number" pInputText [(ngModel)]="cents" min="0" max="99">
    </div>

    <div class="ui-md-4">Verwendungszweck:</div>
    <div class="ui-md-8">
    <input style="width: 100%" type="text" pInputText [(ngModel)]="zweck" placeholder="Verwendungszweck"></div>
    <div class="ui-md-8 ui-md-offset-4">
      <p-button icon="pi pi-check" label="Zahlung anweisen" (onClick)="zahlungAnweisen()"></p-button>
    </div>
  </div>
</p-panel>
