<h1>{{konto?.name ? konto.name : 'Konto'}} {{ konto?.kontonummer }}</h1>

<div class="ui-inputgroup">
  Bezeichnung:
  <input type="text" pInputText placeholder="z.B. Girokonto" [(ngModel)]="konto.name">
  <button pButton type="button" icon="pi pi-check" class="ui-button-success" (click)="setName()"></button>
</div>

<p>Saldo {{ konto?.betrag }}</p>
<p>Kreditrahmen {{ konto?.kreditrahmen }}</p>

<spirit-zahlungsanweisung *ngIf="!!konto" [quelle]="konto.kontonummer" (onPayment)="reload()"></spirit-zahlungsanweisung>

<p-table *ngIf="konto" [value]="konto.zahlungen">
  <ng-template pTemplate="header">
    <tr>
      <th>Datum</th>
      <th>Von</th>
      <th>An</th>
      <th>Betrag</th>
      <th>Verwendungszweck</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-zahlung>
    <tr>
      <td>{{ zahlung.datum }}</td>
      <td>{{ zahlung.quelle }}</td>
      <td>{{ zahlung.ziel === '000' ? 'siehe Verwendungszweck' : zahlung.ziel }}</td>
      <td>{{ zahlung.betrag }}</td>
      <td>{{ zahlung.zweck }}</td>
    </tr>
  </ng-template>
</p-table>
